.dashboard-container {
  padding: 24px;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Utilise toute la hauteur de la fenêtre */
}

.stats-row {
  margin-bottom: 16px;
}

.stats-card {
  text-align: center;
  border-radius: 8px;
}

.stats-card .ant-statistic-title {
  font-size: 18px;
  font-weight: 600;
}

.time-row {
  margin-bottom: 16px;
}

.time-card {
  background: #fff;
  text-align: center;
  border-radius: 8px;
}

.time-icon {
  color: #1890ff;
}

.calendar-row {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.calendar-card {
  background: #fff;
  text-align: center;
  border-radius: 8px;
  width: 100%; /* Prend toute la largeur disponible */
}

.calendar {
  width: 100%;
}
